/*
* @Author: Marte
* @Date:   2017-09-01 10:25:35
* @Last Modified by:   Marte
* @Last Modified time: 2017-09-01 10:37:22
*/
* {
    margin: 0px;
    padding: 0px;
    text-decoration:none;
    box-sizing:border-box;
}

ul, li {
     list-style: none;
}
html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img, div, body, html, ul, li, a {
    -webkit-touch-callout: none;
}

input {
    -webkit-appearance: none;
}

html,body,.wrap{
    width:100%;
    height:100%;
    overflow:hidden;
}
%flex{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
body{
    font-size: 0.16rem;
}
.wrap{
    display:flex;
    flex-direction:column;
    position:relative;
    background: #eee;
}
.list{
    width: 100%;
    height: 1.04rem;
    line-height: 1.04rem;
    text-align: center;
    display: flex;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.15rem;
    background: #fff;
    span{
        flex: 1;
        padding:0 0.47rem;
    }
    span.on{
        color:#5373F5;
        border-bottom:1px solid  #5373F5;

    }
}